.grid{
    margin: 20px auto;
}

.unvisited{
    height: 22px;
    width: 22px;
    border: 1px solid rgb(127, 221, 247);
    margin: 0px;
}

.start{
    background-color: green;
}

.end{
    background-color: brown;
}

.visited{
    height: 22px;
    width: 22px;
    border: 1px solid rgb(127, 221, 247);
    margin: 0px;
    background-color: yellow;
}

.path{
    height: 22px;
    width: 22px;
    border: 1px solid rgb(127, 221, 247);
    margin: 0px;
    background-color: blue;
}

table {
    border-collapse: collapse;
}